<h1 class="set">User Managment</h1>

<table class="table table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Role</td>
        <td>Email</td>
        <td width="275" align ="center">Action</td>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor = "let usr of users">
          <td>{{usr.UserName}}</td>
          <td>{{usr.role}}</td>
          <td>{{usr.email}}</td>
          <td width="275"> 
              <a class="btn btn-success" routerLink="/userProf/{{usr._id}}">Edit</a>
              <a class="btn btn-danger" (click)="deleteUser(usr._id)">Delete</a>
          </td>
       </tr>

 
    </tbody>
  </table>